:root {
    --basic-white:#FFFFFF;
    --basic-black:#000000;
    --basic-blue: #669EC0;
    --basic-dark-blue:#5496BD;
    --basic-neutral: #EEEEEE;
    --basic-brown: #766357;
    --basic-darker-brown: #604E43;
    --basic-darkest-brown: #503E33;
    --basic-grey: #666666;
    --basic-light-grey: #BDBBBC;
    --basic-very-light-grey: #CACACA;
    --basic-grey95: #F2F2F2;
    --basic-grey92: #EBEBEB;
    --badic-grey90: #E5E5E5;
    --basic-grey20: #333333;
    --basic-dark-grey: #A9A9A9;
    --brand-color: #81B3D2;
}

.page {
    height: 100%;
}
.page-body {
    min-width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-grey95);
    
}

.main-container {
    width: 1200px;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--basic-white);
    box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
}

.link {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    margin-bottom: -14px;
}

.main-navigation {
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 45.5%;
}

.main-header-bar {
    background-color: var(--basic-white);
}

.site-navigation { 
    width: 1200px;
    display: flex;
    flex-wrap: wrap;    
    list-style: none;
    padding: 0;
}

.site-navigation a {
    display: block;
}

.site-navigation li {
    width: 200px;
}

.site-navigation li:first-child {
    flex-grow: 0; 
}

.site-navigation li:last-child {
    flex-grow: 0; 
}

.site-navigation li:nth-child(2) {
    flex-grow: 2; 
}

.site-navigation li:nth-child(3) {
    flex-grow: 2;
    
}

.nav-about {
    padding-left: 72px;
}

.nav-gallery {
    padding-left: 100px;
}

.nav-map {
    padding-left: 205px;    
}

.nav-hotel {
    padding-left: 48px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
    color: var(--brand-color);
}

.site-navigation a:focus {
    color: var(--basic-black);
    opacity: 0.3;
}

.site-navigation a:active {
    color: var(--basic-brown);
}

.container {
    width: 1200px;
}

.welcome-picture {
    background-image: url("../img/shape.svg"),
    url("../img/background.jpg");
    height: 509px;
    background-position: bottom center, top center;
    background-repeat: no-repeat, no-repeat;
}

.welcome-picture p{
    padding-top: 77px;
}

.main-heading {
    min-height: 80px;
    margin-top: 42px;
    margin-bottom: 16px;
}

.sedona-description {
    padding-left: 365px;
    padding-right: 365px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.five-reasons {
    margin-bottom: 51px;
    font-size: 14px;
    line-height: 26px;    
    font-weight: 400;
    text-align: center;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px 330px 256px 256px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-item {
    line-height: 21px;
    text-align: center;
}

.feature-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
  }

.feature-item-real {
    background-color: var(--brand-color);
    background-image: url(../img/reason1.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    color: var(--basic-white);
    grid-column: 1/-1;
    grid-row: 1/2;
}

.feature-item-real div{
    width: 400px;
    height: inherit;
}

.feature-item-real h3{
    margin-top: 47px;
    margin-left: 139px;
    margin-right: 139px;
}

.feature-item-real span{
    margin-top: 25px;
}
.feature-item-real p{
    margin-top: 28px;
    margin-left: 45px;
    margin-right: 45px;
}

.feature-item-bridge {
    background-color: var(--brand-color);
    background-image: url(../img/reason2.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    color: var(--basic-white);
    grid-column: 1/-1;
    grid-row: 3/4;
}

.feature-item-bridge div{
    width: 400px;
    height: inherit;
    position: relative;
    left: 800px;
}

.feature-item-bridge h3{
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
}

.feature-item-bridge span{
    margin-top: 25px;
}
.feature-item-bridge p{
    margin-top: 23px;
    margin-left: 45px;
    margin-right: 45px;
}

.feature-item-accomidation {
    grid-column: 1/2;
    grid-row: 2/3;
}

.feature-item-food {
    grid-column: 2/3;
    grid-row: 2/3;
}

.feature-item-memory {
    grid-column: 3/4;
    grid-row: 2/3;
}

.feature-item-close {
    grid-column: 1/2;
    grid-row: 4/5; 
    background-color: var(--basic-neutral);   
}

.feature-item-close h3 {
    margin-top: 47px;
    margin-left: 130px;
    margin-right: 130px;
}

.feature-item-close span {
    margin-top: 25px;
}

.feature-item-close p {
    margin-top: 23px;
    margin-left: 90px;
    margin-right: 90px;   
}

.feature-item-road {
    grid-column: 2/3;
    grid-row: 4/5; 
    background-color: var(--basic-neutral);
}

.feature-item-road h3 {
    margin-top: 47px;
    margin-left: 130px;
    margin-right: 130px;
}

.feature-item-road span {
    margin-top: 25px;
}

.feature-item-road p {
    margin-top: 23px;
    margin-left: 60px;
    margin-right: 60px;   
}

.feature-item-uncrowded {
    grid-column: 3/4;
    grid-row: 4/5;    
    background-color: var(--basic-neutral);
}

.feature-item-uncrowded h3 {
    margin-top: 47px;
    margin-left: 130px;
    margin-right: 130px;
}

.feature-item-uncrowded span {
    margin-top: 25px;
}

.feature-item-uncrowded p {
    margin-top: 23px;
    margin-left: 75px;
    margin-right: 75px;   
}

.feature-item-accomidation h3 {
    position: relative;
    margin-top: 160px;
}

.feature-item-accomidation p {
    margin-top: 25px;
    margin-left: 70px;
    margin-right: 70px;
}

.feature-item-accomidation h3::before {
    content: "";
    position: absolute;
    top: -103px;
    left: 162px;
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item-food h3 {
    position: relative;
    margin-top: 160px;
}

.feature-item-food p {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.feature-item-food h3::before {
    content: "";
    position: absolute;
    top: -103px;
    left: 162px;
    width: 75px;
    height: 70px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item-memory h3 {
    position: relative;
    margin-top: 160px;
}

.feature-item-memory p {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.feature-item-memory h3::before {
    content: "";
    position: absolute;
    top: -103px;
    left: 168px;
    width: 64px;
    height: 77px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.hotels {
    width: 1200px;
    padding: 0;
    margin: 0;
}

.interested {
    margin-top: 58px;
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}

.trip-date {
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.hotel-searh {
    display: inline-block;
    text-align: center;
    margin-left: 316px;
    padding: 30px 140px;
    vertical-align: middle;
    background-color: var(--basic-brown);
    font-size: 21px;
    font-weight: 700;
    color: var(--basic-white);
}

.hotel-searh:hover {
    background-color: var(--basic-darker-brown);
}

.hotel-searh:focus {
    background-color: var(--basic-darkest-brown);
    color: rgba(255, 255, 255, 0.3);
}

.map-picture {
    background-image: url(../img/map.png);
    width: 1200px;
    height: 594px;
    background-position: top center;
    background-repeat: no-repeat;
}

.main-footer {
    background-color: var(--basic-white);
    opacity: 0.9;
    margin-top: -121px;
}

.inner-footer {
    margin-top: 0px;   
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
    width: 327px;
    justify-self: right;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    margin-top: 23px;
}

.footer-phone {
    color: var(--basic-black);
}

.footer-social {
    justify-self: center;
    text-align: center;
    width: 400px;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 151px;
    margin: 0 auto;
    padding: 0;
    list-style: none; 
}

.footer-copyright {
    display: flex;
    width: 400px;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    justify-self: left;
}

.footer-copyright div {
    margin-left: 65px;
}

.footer-copyright a {
    margin-top: 43px;
    margin-left: 15px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    width: 46px;
    height: 48px;
    background-color: var(--brand-color);
    color: inherit;
}

.social-button:hover {
    background-color: var(--basic-blue);
}

.social-button:focus {
    background-color: var(--basic-dark-blue);    
}

.social-button:focus path {
    fill: rgba(255, 255, 255, 0.3);
}

.copyright-button:hover path{
    fill: var(--brand-color);
}

.copyright-button:focus path{
    fill: var(--basic-light-grey);    
}

.footer-copyright div {
    margin-top: 47px;
}

.modal {
    display: none;
    font-weight: 700;
}

.people-number {
    font: inherit;
    background-color: var(--basic-grey95);
    border: 0;
}

.icon-date {
    font: inherit;
    background-color: var(--basic-grey95);
    border: 0;
}

.icon-date:hover {
    background-color: var(--basic-grey92);
    border: 0;
}

.icon-date:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--badic-grey90);
}

input.icon-date::placeholder {
    color: var(--basic-black);
}

input.people-number::placeholder {
    color: var(--basic-black);
}

.people-number-change {
    background-color: var(--basic-grey95);
    border: 0;
    color: var(--basic-dark-grey);
}

.people-number-change:hover {
    color: var(--basic-black);
}

.people-number-change:focus {
    color: var(--brand-color);
}

.search-button {
    font-size: 21px;
    font-weight: 26px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--brand-color);
    border: 0;
    text-transform: uppercase;
    text-align: center;
}

.search-button:hover {
    background-color: var(--basic-blue);
}

.hotel-searh:focus {
    background-color: var(--basic-dark-blue);
    color: rgba (255, 255, 255, 0.3);
}

.site-navigation-current a {
    color: var(--basic-brown);
}

.page-catalog {
    display: flex;
    flex-direction: column;
}

.filters {
    background-image: url("../img/background-catalog.jpg");
    background-repeat: no-repeat;
    height: 217px;
    width: 1200px;
    color: var(--basic-white);
    line-height: 21px;    
}

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.filter-fieldset {
    border: 0;
}

.filters-legend {
    font-weight: 700;
    font-size: 16px;    
}

.filter ul {
    list-style: none;
    padding-left: 0;
}

.filter-input-text {
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px;    
    border: 2px solid var(--basic-white);
}

.filter-button {
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 21px; 
    border: 2px solid var(--basic-white);
    background: none;    
}

.filter-button:hover {
    color: var(--basic-black);
    border: 0;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    opacity: 1;
}

.sorting-section {
    display: flex;
    align-items: center;
    align-content: stretch;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
}
.hotels-found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;        
}

.sorting-section ul {
    list-style: none;
    display: flex;
}

.sorting-button {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    border: 0;
    border-bottom: 1px dashed var(--brand-color);
    background-color: var(--basic-white);
}

.sorting-button:hover {
    color: var(--brand-color);
}

.sorting-button:focus {
    color: var(--basic-black);
    border: 0;
}

.filter-button:active {
    color: var(--brand-color);
    border: 0;
}

.order-button {
    color: var(--basic-very-light-grey);
}

.order-button:hover {
    color: var(--basic-black);
}

.order-button:focus,
.order-button:active {
    color: var(--brand-color);
}

.infrastructure {
    padding-left: 72px;
    padding-top: 26.5px;
}

.accomodation-type {
    padding-left: 26px;
    padding-top: 26.5px;
}

.price-for-night {
    padding-left: 210px;
    padding-top: 26.5px;
}

.catalog {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-grey20);
}

.catalog ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.catalog-item {
    display: flex;
}

.hotel-picture,
.hotel-card,
.hotel-rate {
    min-height: 150px;
}

.hotel-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
}

.hotel-card a:first-child {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.hotel-card p:first-child {
    grid-column: 1/2;
    grid-row: 2/3;
}

.hotel-card p:last-child {
    grid-column: 2/32;
    grid-row: 2/3;
}

.hotel-card a:nth-child(2) {
    grid-column: 1/2;
    grid-row: 3/4;
}

.hotel-card a:last-child {
    grid-column: 2/3;
    grid-row: 3/4;
}

.catalog-item a {
    text-decoration: none;
}

.catalog-item-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black); 
}

.catalog-item-name:hover {
    color: var(--brand-color);
}

.catalog-item-name:focus {
    color: rgba(0, 0, 0, 0.3);
}

.learn-more,
.book-hotel {
    color: var(--basic-white);
    font-weight: bold;
    text-align: center;
}

.learn-more {
    background-color: var(--brand-color);
}

.learn-more:hover {
    background-color: var(--basic-blue);
}

.learn-more:focus {
    background-color: var(--basic-dark-blue);
    color: rgba (255, 255, 255, 0.3);
}

.book-hotel {
    background-color: var(--basic-brown);
}

.book-hotel:hover {
    background-color: var(--basic-darker-brown);
}

.book-hotel:focus {
    background-color: var(--basic-darkest-brown);
    color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
    background-color: var(--basic-grey95)
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}